* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
}

svg,
rect {
  height: 50px;
  width: 200px;
}

:root {
  --background-color: #1f242d;
  --second-color: #382c1ba4;
  --text-color: #ffffff;
  --main-color: #ff4500;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: inherit;
  color: var(--text-color);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/polyu.jpeg");
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.container,
nav {
  padding: 1rem 15%;
}

/***************************** Global Button ********************************/

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.shape {
  fill: #1f1912a4;
  stroke: var(--main-color);
  stroke-dasharray: 64 400;
  stroke-dashoffset: 145;
  stroke-width: 5px;
  transition: stroke-width 0.3s, stroke-dashoffset 0.3s, stroke-dasharray 0.9s;
  cursor: pointer;
}

.shape:hover {
  fill: transparent;
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.text {
  width: 200px;
  text-align: center;
  font-size: 15px;
  text-shadow: 0 0 3px var(--text-color);
  font-family: "Roboto", sans-serif;
  line-height: 10px;
  letter-spacing: 3px;
  color: var(--text-color);
  top: -30px;
  position: relative;
  pointer-events: none;
}

/***************************** nav ********************************/

nav {
  position: sticky;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--second-color);
  z-index: 99;
}

.logo {
  width: 80px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
  text-shadow: 0 0 2px var(--text-color);
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.75rem;
  position: relative;
  transition: 0.2s;
  text-shadow: 0 0 10px var(--text-color);
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -0.8rem;
  transition: 0.5s;
}

nav ul li a:hover {
  color: var(--main-color);
}

nav ul li a:hover::after {
  width: 100%;
}

/***************************** Home ********************************/

#header {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  letter-spacing: 0.5rem;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  background: transparent;
  backdrop-filter: blur(10px);
}

.header-text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-text {
  width: 50%;
  margin: 7% 0 50px 20px;
}

.header-text h1 {
  font-size: 6rem;
  margin: 2rem 0;
  color: var(--text-color);
  text-shadow: 0 0 5px var(--text-color);
}

.header-text p {
  color: var(--text-color);
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 1em;
  margin: 5% 0;
}

.header-text h1 span {
  color: var(--main-color);
}

.header-img {
  margin-top: 5%;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 20px var(--main-color);
}

.multiple-text {
  display: flex;
  align-items: center;
  width: 400px;
  font-size: xx-large;
  color: var(--main-color);
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 5px var(--main-color);
}

#home-btn {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
/***************************** About ********************************/

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#about h1 {
  margin-top: 3%;
}

.about-col-1 img {
  width: 400px;
  padding: 5% 5% 0;
  box-shadow: 0 0 20px var(--main-color);
  background: transparent;
  backdrop-filter: blur(10px);
}

.about-col-2 {
  margin-left: 2%;
  width: 40%;
  padding: 5%;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.sub-title {
  font-size: 6rem;
  margin: 2rem 0;
  color: var(--text-color);
  text-shadow: 0 0 5px var(--text-color);
  letter-spacing: 0.5rem;
}

.sub-title p {
  margin-bottom: 2rem;
}

.tab-titles {
  color: var(--text-color);
  display: flex;
  margin: 1rem 0 2rem;
  letter-spacing: 0.2rem;
  justify-content: center;
  border-radius: 25px;
}

.tab-links {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  font-size: 1.4rem;
}

.tab-contents ul li span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.tab-contents ul li p {
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  line-height: 2rem;
  text-align: justify;
  margin: 3% 0;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: flex;
}

#experience ul li .job-title,
#lastest-project ul li .used-tech,
#education ul li p.school-name {
  font-weight: 800;
  font-size: 1.1rem;
  position: relative;
}

#experience ul li p.job-title::after,
#education ul li p.school-name::after,
#lastest-project ul li p.used-tech::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  background: var(--text-color);
  left: 0;
  bottom: -0.2rem;
  transition: 0.5s;
}
/***************************** Blog ********************************/

.blog-box:hover {
  transform: translateY(-20px);
}

.blog-container {
  padding: 0 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.blog-box {
  width: 42rem;
  margin: 5rem;
  transition: 0.9s;
  box-shadow: var(--main-color) 0px 3px 3px,
    rgba(241, 22, 22, 0.973) 0px 10px 10px;
}

.blog-img {
  width: 100%;
  height: 40rem;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  background: var(--background-color);
  color: var(--text-color);
  backdrop-filter: blur(50px);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: var(--main-color);
  font-size: 1.5rem;
}

.blog-text p {
  padding: 0 5%;
  text-align: justify;
  letter-spacing: 0.15rem;
  line-height: 1.5rem;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text .read-more,
span.read-little {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  transition: all ease 0.5s;
  cursor: pointer;
}
.blog-text .read-more:hover,
span.read-little:hover {
  color: rgb(255, 103, 2);
  font-size: 1.3rem;
}

span.read-little {
  color: var(--text-color);
  display: none;
  cursor: pointer;
  font-weight: 600;
}

.blog-text p.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

/***************************** Skill ********************************/

.skill-header {
  text-align: center;
  color: var(--text-color);
  padding: 1.6rem;
  position: relative;
  font-size: large;
}

.skill-header::after {
  content: "";
  position: absolute;
  width: 26rem;
  height: 0.4rem;
  background: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.skill-container {
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1.6rem;
  padding: 1.6rem 0.8rem;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

.skill-text {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: justify;
}
.skill-box p {
  width: 300px;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px var(--main-color);
}

.skill-title h3 {
  color: var(--text-color);
  margin: 2rem 0 0 0;
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
}
.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 3.5rem;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  bottom: 0;
  right: 50%;
  border-radius: 20px 0 0 20px;
  transition: 0.5s;
}
.skill-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  border-radius: 0 22px 22px 0;
  background-color: var(--main-color);
  transition: 0.5s;
}

.skill-icon {
  width: 100px;
  border-radius: 50px;
}

.skill-img {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 0 20px var(--main-color);
}

.btn {
  display: block;
  margin: 2rem auto;
  width: fit-content;
  border: 1px solid var(--main-color);
  padding: 1.4rem 5rem;
  border-radius: 2.5rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: var(--main-color);
}

/*------------------------contact-------------------------------*/

#contact {
  margin-top: 1.2rem;
  height: 75vh;
}
#contact .container {
  padding: 0 20%;
}

#contact .container .row {
  justify-content: space-evenly;
}
#contact .container .row h1 {
  font-size: 3rem;
  margin-top: 1.2rem;
  margin-bottom: -1rem;
}
.contact-left,
.contact-right {
  height: 80vh;
  position: relative;
}

.contact-left {
  background: transparent;
  backdrop-filter: blur(10px);
  width: 35%;
  display: flex;
  flex-direction: column;
}

.contact-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.contact-left p {
  margin-top: 3rem;
}

.contact-left p i {
  color: var(--main-color);
  margin-right: 1.25rem;
  font-size: 2.5rem;
}

#contact-btn {
  position: absolute;
  background-color: transparent;
  bottom: -80px;
  border: none;
}

.contact-right form {
  background: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
}

.contact-right #sub-btn {
  margin-top: 5%;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100%;
}

#sent-msg {
  display: none;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: var(--text-color);
  text-shadow: 0 0 3px var(--text-color);
}

input::placeholder,
textarea::placeholder {
  color: grey;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: smaller;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #1a120a;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.6rem;
}

form .btn2 {
  padding: 1.4rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.contact-left p {
  letter-spacing: 0.15rem;
  font-weight: 600;
}

#contact #loading {
  display: none;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: var(--text-color);
  text-shadow: 0 0 3px var(--text-color);
  text-align: center;
}

.load {
  transform: translateX(-50%);
}

#cal {
  position: relative;
  top: 10%;
  left: 20%;
  transform: scale(1.4);
  margin-top: 3rem;
  color: white;
  background-color: transparent;
}

#cal h3 {
  text-align: center;
  padding: 2px 0;
  width: 100%;
  display: block;
  position: relative;
}

#cal h3::after {
  content: "";
  position: absolute;
  background: #fff;
  height: 1px;
  width: 15%;
  bottom: -1px;
  left: 42%;
}

#cal .container {
  border-radius: 10px;
  padding: 0;
  position: relative;
  height: 225px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgb(56, 56, 56);
  box-shadow: 5px 8px 50px 10px rgba(0, 0, 0, 0.5);
}

#cal .container h3 {
  font-weight: 700;
}

#cal .container .day {
  font-weight: 700;
}

#cal .container .days {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}
#cal .container .date {
  padding-top: 5%;
  height: 100%;
}

#cal .container .day,
#cal .container .number,
#cal .container .number-pre {
  height: 25.5px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cal .container .number.active {
  background-color: rgb(255, 111, 97);
  border: 1px solid rgba(238, 238, 238, 0.4);
}

#cal .container .number-pre {
  color: rgba(238, 238, 238, 0.4);
}

#cal .container .number-bgc {
  text-transform: uppercase;
  width: 50px;
  text-align: center;
  border-radius: 15px;
  padding: 3px;
  margin: 0px auto;
  margin-top: 15px;
}
input:focus,
textarea:focus,
input[type="date"] {
  outline: none;
  border: 1px solid var(--main-color);
}
#contact input[type="date"] {
  color: grey;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#cal .number.avaliable,
#cal .number-pre.avaliable {
  background: rgb(95, 180, 112);
  border-radius: 15px;
}

#cal .number-bgc.avaliable {
  background: rgb(95, 180, 112);
  padding: 0.5rem 0;
  width: 50%;
}

#cal .container .number:hover,
#cal .container .number-pre:hover {
  border: 2px solid rgba(238, 238, 238, 0.4);
}

/*------------------------mobile-------------------------------*/
.moblie-icon {
  display: none;
}

nav .fas {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .logo {
    width: 50px;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1rem 2rem;
  }

  nav {
    letter-spacing: 0.3rem;
  }
  nav ul li a {
    font-size: 1.45rem;
    font-weight: 600;
    transition: 0.2s;
  }

  ul#sidemenu li a {
    font-size: 1.5rem;
  }
  nav .fas {
    display: block;
    font-size: 2.5rem;
  }

  nav ul {
    background: linear-gradient(80deg, var(--main-color), #1f242d);
    position: fixed;
    top: 0;
    right: -20rem;
    width: 18rem;
    height: 100vh;
    padding-top: 5rem;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 2.5rem;
  }

  nav ul .fas {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    cursor: pointer;
  }

  .header-text-container {
    height: 400px;
    position: relative;
  }
  .header-text h1 {
    font-size: 3rem;
  }

  .header-text p {
    margin-top: 5%;
    padding-left: 0;
  }

  .header-content {
    display: block;
  }

  .header-img {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
  .header-img img {
    width: 40%;
  }
  .header-text {
    height: 50vh;
    font-size: 1.6rem;
    padding: 0;

    display: block;
    margin: 0 auto;
  }

  .multiple-text {
    margin: 0 auto;
    font-size: 1.85rem;
    width: 200px;
  }

  svg,
  rect {
    height: 25px;
    width: 100px;
  }

  .text {
    width: 100px;
    top: -20px;
    font-size: 0.1rem;
  }
  #home-btn {
    width: 100px;
  }
  .button {
    width: 100%;
    margin: 0 auto;
  }

  .sub-title {
    font-size: 4rem;
  }

  /*************** About ***************/

  .about-col-1 {
    display: flex;
    flex-wrap: wrap;
  }

  #about h1 {
    margin: 0;
    margin-top: 3%;
  }
  .about-col-1 img {
    margin: 0;
    width: 70%;
  }

  #about .sub-title {
    font-size: 3rem;
  }

  .about-col-1 {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab-titles {
    width: 420px;
    padding: 5% 0;
    margin: 0 auto;
  }

  .tab-links {
    font-size: 1.7rem;
    margin-right: 2rem;
    padding: 0 25px;
  }

  .tab-links::after {
    left: 25px;
  }

  .about-col-2 {
    width: 100%;
  }

  .about-col-2 .about-text p {
    color: var(--text-color);
  }

  .tab-contents.active-tab {
    width: 100%;
  }
  .tab-contents {
    width: 100%;
  }

  .contact-left,
  .contact-right {
    height: auto;
  }

  .contact-left,
  .contact-right {
    width: 100%;
    position: relative;
  }

  #cal {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .moblie-icon img {
    width: 300px;
  }
  .skill-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
