* {
  margin: 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

:root {
  --background-color: #1f242d;
  --second-color: #323946;
  --text-color: #fff;
  --main-color: #6ee7b7;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(./images/user.png);
  background-size: cover;
  background-position: center;
  align-items: center;
}

.container,
nav {
  padding: 1rem 10%;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--background-color);
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 2.2rem;
  position: relative;
  transition: 0.2s;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -0.8rem;
  transition: 0.5s;
}

nav ul li a:hover {
  color: var(--main-color);
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 3rem;
}

.header-text h1 {
  font-size: 6rem;
  margin-top: 2rem;
}

.header-text p {
  color: var(--main-color);
}

.header-text h1 span {
  color: var(--main-color);
}

/*------------------------about-------------------------------*/

#about {
  padding: 8rem 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 1.5rem;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.sub-title p {
  margin-bottom: 2rem;
}

.tab-titles {
  display: flex;
  margin: 2rem 0 4rem;
}

.tab-links {
  margin-right: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: #6ee7b7;
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 1rem 0;
}

.tab-contents ul li span {
  color: var(--main-color);
  font-size: 1.4rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*------------------------services-------------------------------*/

#services {
  padding: 3rem 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem;
}

.services-list div {
  background: var(--second-color);
  padding: 4rem;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 1rem;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.services-list div h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 2rem;
  display: inline-block;
}

.services-list div:hover {
  background: #b54769;
  transform: translateY(-10px);
}

/*------------------------portfolio-------------------------------*/

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem;
}

.work {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  text-align: center;
  flex-direction: column;
  font-size: 1.4rem;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.layer a {
  margin-top: 2rem;
  color: #ffe84f;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 60px;
  background: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 5rem auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 1.4rem 5rem;
  border-radius: 0.6rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/*------------------------contact-------------------------------*/

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 3rem;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 1.25rem;
  font-size: 2.5rem;
}

.social-icons {
  margin-top: 3rem;
}

.social-icons a {
  text-decoration: none;
  font-size: 3rem;
  margin-right: 1.5rem;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.6rem;
}

form .btn2 {
  padding: 1.4rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;
  background: #262626;
  font-weight: 300;
  margin-top: 2rem;
}

/*------------------------mobile-------------------------------*/

nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url(./images/test.png);
    background-position: 0px;
    background-repeat: no-repeat;
  }

  .header-text {
    margin-top: 100%;
    font-size: 1.6rem;
  }

  .header-text h1 {
    font-size: 3rem;
  }

  nav .fas {
    display: block;
    font-size: 2.5rem;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -2rem;
    width: 2rem;
    height: 100vh;
    padding-top: 5rem;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 2.5rem;
  }

  nav ul .fas {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    cursor: pointer;
  }

  .sub-title {
    font-size: 4rem;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 3rem;
  }

  .about-col-2 {
    font-size: 1.4rem;
  }

  .tab-links {
    font-size: 1.6rem;
    margin-right: 2rem;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 1.4rem;
  }
}
