* {
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --background-color: #1f242d;
  --second-color: #0008044e;
  --text-color: #ffffff;
  --main-color: #ff4500;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

.container,
nav {
  padding: 1rem 10%;
}

/***************************** nav ********************************/

nav {
  position: sticky;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--background-color);
  z-index: 99;
}

.logo {
  width: 80px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 2.2rem;
  position: relative;
  transition: 0.2s;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -0.8rem;
  transition: 0.5s;
}

nav ul li a:hover {
  color: var(--main-color);
}

nav ul li a:hover::after {
  width: 100%;
}

#header {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-img {
  position: relative;
  background-color: var(--second-color);
  max-height: 558px;
}

.header-img:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
}
.header-img:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -3;
  filter: blur(50px);
}

.header-img:after,
.header-img:before {
  background: linear-gradient(235deg, var(--main-color), #000000);
}

.header-text {
  margin-top: 10%;
  font-size: 3rem;
  display: inline;
}

.header-text h1 {
  font-size: 6rem;
  margin-top: 2rem;
}

.header-text p {
  color: var(--main-color);
}

.header-text h1 span {
  color: var(--main-color);
}

/***************************** About ********************************/

#about {
  color: #ababab;
}

.row {
  display: flex;
  padding: 5% 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-col-1 {
  flex-basis: 45%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 20%;
  padding: 10% 0;
  background-color: var(--second-color);
}

.about-col-2 {
  flex-basis: 50%;
}

.about-text{
  width: 40rem;
  text-align: justify;
  letter-spacing: 1.5px;
  line-height: 2em;
  padding:2% 0;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.sub-title p {
  margin-bottom: 2rem;
}

.tab-titles {
  display: flex;
  margin: 2rem 0 4rem;
}

.tab-links {
  margin-right: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 70%;
}

.tab-contents ul li {
  list-style: none;
  margin: 1rem 0;
}

.tab-contents ul li span {
  color: var(--main-color);
  font-size: 1.4rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/***************************** Blog ********************************/

.blog-box:hover {
  transform: translateY(-20px);
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin: 3rem;
  transition: 0.9s;
}

.blog-img {
  width: 100%;
  height: 35rem;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: var(--main-color);
  font-size: 0.9rem;
}
.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text .blog-title:hover {
  color: var(--main-color);
  transition: all ease 0.5s;
}

.blog-text p {
  color: #272727;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text .read-more {
  color: #0f0f0f;
  font-size: 1rem;
  transition: all ease 0.5s;
}
.blog-text .read-more:hover {
  color: #6ee7b7;
  font-size: 1rem;
}

.read-little {
  display: none;
}

.blog-text p.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

/***************************** Skill ********************************/

.skill-header {
  text-align: center;
  color: var(--text-color);
  padding: 1.6rem;
  position: relative;
  font-size: large;
}

.skill-header::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 0.4rem;
  background: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1.6rem;
  padding: 1.6rem 0.8rem;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

.skill-text {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: justify;
}
.skill-box p {
  width: 300px;
}

.skill-title h3 {
  color: var(--text-color);
  margin: 2rem 0 0 0;
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
}
.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 3.5rem;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  bottom: 0;
  right: 50%;
  border-radius: 20px 0 0 20px;
  transition: 0.5s;
}
.skill-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  border-radius: 0 22px 22px 0;
  background-color: var(--main-color);
  transition: 0.5s;
}

.skill-icon {
  width: 100px;
  border-radius: 50px;
}

.skill-img {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

/***************************** Portfolio *****************************/
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem;
}

.work {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--main-color));
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  text-align: center;
  flex-direction: column;
  font-size: 1.4rem;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.layer a {
  margin-top: 2rem;
  color: #ffe84f;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 60px;
  background: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 5rem auto;
  width: fit-content;
  border: 1px solid var(--main-color);
  padding: 1.4rem 5rem;
  border-radius: 0.6rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: var(--main-color);
}

/*------------------------contact-------------------------------*/

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 3rem;
}

.contact-left p i {
  color: var(--main-color);
  margin-right: 1.25rem;
  font-size: 2.5rem;
}

.social-icons {
  margin-top: 3rem;
}

.social-icons a {
  text-decoration: none;
  font-size: 3rem;
  margin-right: 1.5rem;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--main-color);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: var(--main-color);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.6rem;
}

form .btn2 {
  padding: 1.4rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;
  background: #262626;
  font-weight: 300;
  margin-top: 2rem;
}

/*------------------------mobile-------------------------------*/
.moblie-icon {
  display: none;
}

nav .fas {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .logo {
    width: 50px;
  }

  .header-img {
    display: none;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1rem 2rem;
  }
  #header {
    height: 70vh;
  }
  .moblie-icon {
    display: block;
  }
  .moblie-icon img {
    width: 300px;
  }
  .header-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 500px;
  }

  nav {
    letter-spacing: 0.3rem;
  }
  nav ul li a {
    font-size: 1.45rem;
    font-weight: 600;
    transition: 0.2s;
  }

  .header-text {
    font-size: 1.6rem;
  }

  .header-text h1 {
    font-size: 3rem;
  }

  .header-text p {
    margin-top: 10%;
  }

  ul#sidemenu li a {
    font-size: 1.5rem;
  }
  nav .fas {
    display: block;
    font-size: 2.5rem;
  }

  nav ul {
    background: linear-gradient(80deg, var(--main-color), #1f242d);
    position: fixed;
    top: 0;
    right: -20rem;
    width: 18rem;
    height: 100vh;
    padding-top: 5rem;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 2.5rem;
  }

  nav ul .fas {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    cursor: pointer;
  }

  .sub-title {
    font-size: 4rem;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 img{
    margin: 0;
    width: 60%;
  }

  .about-col-1 {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-col-2 {
    font-size: 1.4rem;
    text-align: center;
  }
  .tab-titles{
    width: 445px;
    padding: 5% 0;
    margin: 0 auto;
  }

  .tab-links::after {
    left: 25px;
  }

  .about-text{
    margin: 0 auto;
    width: 70%;
  }

  .tab-links {
    font-size: 2.2rem;
    margin-right: 2rem;
    padding: 0 25px;
   
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .moblie-icon img {
    width: 300px;
  }
  .skill-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
